.display-bar{
    display: grid;
    grid-template-columns: 83% 5% 5%;
    grid-template-rows: 80%;
    gap: 3%;
    text-align: center;
    background-color: #9fe2f7;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
}