.card-container{
    width: 450px;
    height: 280px;
    border: none;
    border-radius: 5px;
    margin: 30px;
    transform: skew(1deg);
    background-color: #9fe2f7;
    font-family: cursive;
    text-align: center;
    display: grid;
    border: 0.5px solid black;
    grid-template-rows: 50px 110px 50px 30px;
    /* box-shadow: 2px 5px 15px 3px #cecece; */
    /* box-shadow: 2px 5px 100px 2px #cecece;; */
}
.card-container:hover {
    
    /* box-shadow: 2px 2px 30px 5px rgb(220, 220, 220); */
    box-shadow: 2px 5px 15px 3px #cecece;
}
.card-description{
border: none;
}
.card-time-section{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    font-size: 15px;
}
.card-button-section {
    margin: auto;
    display: flex;
    flex: auto;
    align-items: center;
}
.card-button{
    width: 70px;
    height: 30px;
    margin: 10px;
    background-color: #8b9de5;
    color: #ffffff;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 1px 5px 1px rgb(0,0,0);
    /* font-size: 15px;
    font-style: bold; */

}
.card-button:hover {
    background-color:#6274dc;
    color: #ffffff;
    transition: 0.7s;
}
.card-description{
     /* width: 350px; */
     padding: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font: italic bold 15px/1.7 cursive;
}